$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu|Indie+Flower|Cabin+Sketch|Noto+Color+Emoji" !default;
$font-family-sans-serif: 'Ubuntu', 'Noto Color Emoji', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$container-wide-width: 1800px;
.container-wide {
  margin: 0 auto;
  width: 100%;
  max-width: MIN(90vw, #{$container-wide-width});
}

@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";
$input-border-radius: $border-radius-sketchy;
.card-footer:last-child {
  border-radius: 0;
}

@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/brands";

@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

@import "modules/layout";
@import "modules/emoji";
@import "modules/shadows";
@import "modules/form";
@import "modules/grid";
@import "modules/card";
@import "modules/code";
@import "modules/barcode";

#arc-widget > iframe {
  position: fixed !important;
  bottom: 3px !important;
}
